<html>
    <head>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <script src="/js/angular.1.6.2.js"></script>
        <script src="/js/angular-route.1.6.2.js"></script>
        <script src="/lectures/dynamic-angular/app.js"></script>
    </head>
    <body ng-app="<%= appName %>">

    </body>
</html>