<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input ng-model="user.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input ng-model="user.password"
           id="password"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <a ng-click="model.login(user)"
       class="btn btn-primary btn-block">
        Login
    </a>
    <a href="#register" class="btn btn-success btn-block">Register</a>
</div>