<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <span ng-click="model.updateUser(model.user)"
                  class="glyphicon glyphicon-ok"></span>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Profile</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div CLASS="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <label for="first">First Name</label>
    <input ng-model="model.user.firstName"
           id="first"
           class="form-control"
           placeholder="John"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName"
           id="last"
           class="form-control"
           placeholder="Doe"/>

    <label for="email">Email</label>
    <input id="email"
           type="email"
           class="form-control"
           placeholder="john@doe.com"/>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input id="password"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <label for="password2">Validate Password</label>
    <input id="password2"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <a href="#/user/{{model.user._id}}/website" class="btn btn-primary btn-block">Websites</a>
    <a href="#/login" class="btn btn-danger btn-block">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Footer</a>
        </div>
    </div>
</nav>
