<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="website-new.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    {{model.widgets}}

    <div ng-repeat="widget in model.widgets">
        <div ng-switch="widget.widgetType">
            <div class="jga-toolbar">
                <a>
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch-when="HEADER">
                <h1 ng-if="widget.size == 1">{{widget.text}}</h1>
                <h2 ng-if="widget.size == 2">{{widget.text}}</h2>
                <h3 ng-if="widget.size == 3">{{widget.text}}</h3>
                <h4 ng-if="widget.size == 4">{{widget.text}}</h4>
                <h5 ng-if="widget.size == 5">{{widget.text}}</h5>
                <h6 ng-if="widget.size == 6">{{widget.text}}</h6>
            </div>
            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
            <div ng-switch-when="YOUTUBE">
                <iframe width="100%" ng-src="{{model.doYouTrustUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>
    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>New Measurements of the Universe Expanding Tell a Confusing Story</h3>
    </div>
    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <img width="100%" src="https://i.kinja-img.com/gawker-media/image/upload/s--UE7cu6DV--/c_scale,fl_progressive,q_80,w_800/xoo0evqxzxrrmrn4ayoq.jpg">
    </div>
    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <p>At the Environmental Protection Agency, it’s typical for an incoming administration to implement a realignment of sorts—with some grants or contracts, for instance, being frozen temporarily—but a decision by President Donald Trump’s staff to <a href="http://www.latimes.com/politics/washington/la-na-trailguide-updates-trump-administration-orders-media-1485281190-htmlstory.html" target="_blank" rel="noopener">order a total media blackout</a>, as well as ban any new spending, has left some employees rattled. <br></p>    </div>
    <div>
        <div class="jga-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" src="https://www.youtube.com/embed/vQD1Txzvq70" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Footer</a>
        </div>
    </div>
</nav>
